{% load static %}

<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Task Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home
              <span class="visually-hidden">(current)</span>
            </a>
        </ul>
        <form class="d-flex  extratwo" >
        <button type="submit" class="btn btn-primary btn-md"><a href="{% url 'user-logout' %}">Logout</a></button></div>
        </form>
    </div>
    </div>
</nav>